body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1f2937;
}

.logo {
    color: white;
}