body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1f2937;
    padding: 16px;
    color: white;
}

.logo {
    font-weight: bold;
    font-size: 24px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;  
    gap: 8px;
}

a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.intoduction {
    display: flex;
    background: #1f2937;
    color: white;
    padding: 16px;
}

img {
    height: 150px;
    width: 300px;
    margin-left: 8px;
}

.main-text{
    font-size: 48px;
    font-weight: bolder;
}

.secondary-text {
    font-size: 18px;
}

button {
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 5px;
    width: 100px;
    margin-top: 8px;
    padding: 4px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin: 16px;
}

.cats{
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
}

.cat {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.cat img {
    height: 100px;
    width: 100px;
}