body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    width: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1f2937;
    padding: 16px;
    color: white;
}

.logo {
    font-weight: bold;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    font-size: 8px;
    gap: 8px;
}

a {
    color: white;
    text-decoration: none;
}

.intoduction {
    display: flex;
    background: #1f2937;
    color: white;
}